*{
    box-sizing: border-box;
    margin: 0;
}
header{
    background-color: rgb(35, 187, 98);
    height: 80px;
}
.nav-bar{
    float: right;
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-bar li button{
    text-transform: uppercase;
    background-color: transparent;
    padding: 10px;
    border: 0;
    cursor: pointer;
}
.nav-bar li button:hover{
    border-bottom: 2px solid red;
    border-radius: 20%;
}
@media  screen and (max-width:500px){
    header{
        background-color: white;
    }
    .nav-bar{
        list-style: none;
        padding: 0;
        display: flex;
        float:inline-end;
        flex-direction: column;
        border: 1px solid #ccc;
    }
}
